manifest {
  author = 'John Palmer <john.palmer@bccdc.ca>'
  name = 'BCCDC-PHL/noro-meta-nf'
  version = '0.1'
  description = 'BCCDC-PHL Norovirus Metagenomics Pipeline'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
}

params {
  virus_name = "norovirus"
  run_name = 'default'
  profile = false
  outdir = "${launchDir}/results-${params.run_name}"
  adapters_path = "${projectDir}/assets/adapters.fa"
  illumina_suffixes = ['*_R{1,2}_001', '*_R{1,2}', '*_{1,2}' ]
  fastq_exts = ['.fastq.gz', '.fq.gz', '.fastq', '.fq']
  fastq_search_path = makeFastqSearchPath( illumina_suffixes, fastq_exts )
  samplesheet_input = 'NO_FILE'
  versioned_outdir = false
  min_identity = 100.0
  min_coverage = 100.0
  consensus_min_depth = 20
  cache = false

  assemble = false

  // PRIMER TRIMMING
  primers = "${projectDir}/assets/primers.fa"
  primers_rev = "${projectDir}/assets/primers_rev.fa"

  // G1 GENE POSITIONS
  g1_gene_positions = "${projectDir}/assets/norovirus-g1-genes.yaml"

  // G1 NORWALK ANNOTATED REFERENCE
  g1_reference = "${projectDir}/assets/norovirus-g1-ref.fasta"

  // MULTIQC 
  multiqc_config = "${projectDir}/assets/multiqc_config.yaml"

  // BLASTN
  min_blast_id = 90
  min_blast_cov = 25
  header_delim = "\\|"
  header_pos_accno = 0
  header_pos_type = 1
  blast_outfmt = "qseqid sseqid pident qlen slen nident bitscore score"

  // KRAKEN2 PARAMS
  krk_norovirus_id = 142786
  krk_homo_sapien_id = 9606
}

includeConfig 'conf/vcf.config'

includeConfig 'conf/user.config'

includeConfig 'conf/modules.config'


def makeFastqSearchPath ( illumina_suffixes, fastq_exts ) {
    def fastq_search_path = []
    for (suffix in illumina_suffixes){
        for (ext in fastq_exts) {
            fastq_search_path.add(params.fastq_input.toString() + '/' + suffix.toString() + ext.toString())
        }
    }
    return fastq_search_path
}

process {

    withLabel: medium {
        cpus = 4
        memory = 8.GB
    }
    withLabel: heavy {
        cpus = 8
        memory = 16.GB
    }
    withLabel: ultra {
        cpus = 16
        memory = 32.GB
    }
}

profiles {
  conda {
    process.conda = "$baseDir/environments/main.yaml"
    conda.useMamba = true
    if (params.cache) {
      conda.cacheDir = params.cache
    }
  }
}
