manifest {
  author = 'John Palmer <john.palmer@bccdc.ca>'
  name = 'BCCDC-PHL/noro-meta-nf'
  version = '0.1'
  description = 'BCCDC-PHL Norovirus Metagenomics Pipeline'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
}

params {
  run_name = 'default'
  profile = false
  outdir = "${launchDir}/results-${params.run_name}"
  adapters_path = "${launchDir}/assets/adapters.fa"
  primers = "" 
  illumina_suffixes = ['*_R{1,2}_001', '*_R{1,2}', '*_{1,2}' ]
  fastq_exts = ['.fastq.gz', '.fq.gz', '.fastq', '.fq']
  fastq_search_path = makeFastqSearchPath( illumina_suffixes, fastq_exts )
  samplesheet_input = 'NO_FILE'
  versioned_outdir = false
  min_identity = 100.0
  min_coverage = 100.0
  cache = false

  // DATABASES
  kraken_db = "/data/ref_databases/kraken2/2022-06-07_standard" 
  blast_db = ""
}

def makeFastqSearchPath ( illumina_suffixes, fastq_exts ) {
    def fastq_search_path = []
    for (suffix in illumina_suffixes){
        for (ext in fastq_exts) {
            fastq_search_path.add(params.fastq_input.toString() + '/' + suffix.toString() + ext.toString())
        }
    }
    return fastq_search_path
}

profiles {
  conda {
    process.conda = "$baseDir/environments/main.yaml"
    conda.useMamba = true
    if (params.cache) {
      conda.cacheDir = params.cache
    }
  }
}
