params {

    ploidy = 1

 	// FREEBAYES
    // -P  --  Polymorphism probability; Report sites if the probability that there is a polymorphism at the site is greater than N.
    fb_poly_prob = 0
    // -m  --  Min mapping qual; Exclude alignments from analysis if they have a mapping quality less than Q.
    fb_min_map_qual = 30  
    // -q  -- Min base qual; Exclude alleles from analysis if their supporting base quality is less than Q.
    fb_min_base_qual = 30
    fb_read_snp_limit = 10
    // -F  --  min-alternate-fraction; Require at least this fraction of observations supporting an alternate allele within a single individual in the in order to evaluate the position.
    fb_min_alt_frac = 0.75
    // --min-coverage -- Require at least this coverage to process a site
    fb_min_coverage = 15
    // -x  -- indel exclusion window; Ignore portions of alignments this many bases from a putative insertion or deletion allele. (WARNING: not found in CLI documentation, only found on GitHub/Freebayes/Parameters.cpp)
    fb_indel_excl_window = 5

    // BCFTOOLS MPILEUP
    // -Q -- Skip bases with baseQ/BAQ smaller than INT
    mp_min_base_qual = 30
    // -q -- Skip alignments with mapQ smaller than INT 
    mp_min_map_qual = 30
    // -m  -- Min gapped reads for indels
    mp_gapped_indel = 2
    // -d  -- Max raw per-file depth; avoids excessive memory usage
    mp_max_depth = 10000000
    // -F  -- minimum fraction of gapped reads for candidates
    mp_min_gapped_reads = 0.002
    // -h  -- Coefficient for homopolymer errors
    mp_coef_hp_errors = 500

}

